<div class="bg-light p-4 rounded">
  <h2 style="color: black;">Documents</h2>
  <table class="table" style="color: black;">
    <thead class="bg-primary rounded">
      <tr>
        <th scope="col" class="text-light">#</th>
        <th scope="col" class="text-light">Title</th>
        <th scope="col" class="text-light">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ document.title }}</td>
        <td>
            <button class="p-0 btn btn-danger" style="float: right; margin-left: 5px;">Delete</button>
            <button class="p-0 btn btn-success" style="float: right;">Download</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>