<div class="bg-light p-4 rounded">
  <h2>Documents</h2>
  <table class="table">
    <thead class="bg-primary rounded">
      <tr>
        <th scope="col" class="text-light">#</th>
        <th scope="col" class="text-light">Title</th>
        <th scope="col" class="text-light">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr app-document-table-row [document]="document" [index]="i" *ngFor="let document of documents; let i = index">
        
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg-12">
      <p *ngIf="documents.length == 0" class="text-center h3 bold">No documents to display</p>
      <hr class="divider">
    </div>
  </div>
    
  <div class="row">
    <div class="col-lg-8">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="chooseFileInput">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
    <div class="col-lg-4">
      <button type="button" (click)="onUpload()" class="btn btn-primary">Upload file</button>
    </div>
  </div>
</div>