<div  div class="bg-light p-4 rounded">
    <h3>{{ title }}
      <select
      (change)="filterByPeriod($event.target.value)"
       [(ngModel)]="selectedOption">
        <option *ngFor="let o of options">
           {{o.name}}
        </option>
     </select>
    </h3>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course</th>
          <th scope="col">Classroom</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let examPart of examParts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ examPart.course }}
          </td>
          <td>{{ examPart.classroom }}</td>
          <td>{{ examPart.date }}</td>
          
          <td>
            {{ examPart.time }}
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>