<div class="bg-light p-4 rounded">
    <h2>Finance history</h2>
    <table class="table">
      <thead class="bg-primary rounded">
        <tr>
          <th scoper="col" class="text-light">#</th>
          <th scope="col" class="text-light">Type</th>
          <th scope="col" class="text-light">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ transaction.transactionType.name }}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="transactions.length == 0" class="text-center h3 bold">No transactions to display</p>
  </div>