<div>
    <h3 style="margin-top: 80px;">{{ title }}</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher</th>
            <th scope="col">Start date of teaching</th>
            <th scope="col">End date of teaching</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ci of courseInstances; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ professors[i].firstName }}</td>
                <td>{{ ci.startDate }}</td>
                <td *ngIf="ci.endDate !== null">{{ ci.endDate }}</td>
                <td *ngIf="ci.endDate == null">{{ endDateMessage }}</td>
            </tr>
        </tbody>
    </table>
</div>
