<div>
    <h3 style="margin-top: 80px;">{{ title }}</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher</th>
            <th scope="col">Start date of teaching</th>
            <th scope="col">End date of teaching</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ci of courseInstances; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ professors[i].firstName }}  {{ professors[i].lastName }}</td>
                <td>{{ ci.startDate }}</td>
                <td *ngIf="ci.endDate !== null">{{ ci.endDate }}</td>
                <td *ngIf="ci.endDate == null">{{ endDateMessage }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="editCourse">
  <h2>{{ title2 }}</h2>
  <form>
    <div class="row mb-3">
      <label for="inputFirstName" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="course.title" id="inputtitle" name="title" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputLastName3" class="col-sm-2 col-form-label">ECTS</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="course.ects" name="ects" id="inputects" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="float: right;" (click)="goBack()">Cancel</button>
    </div>
    <div class="col-11">
      <button type="submit" class="btn btn-primary" style="float: right;" (click)="editCourse()">Confirm</button>
    </div>
  </form>
</div>
