<div  div class="bg-light p-4 rounded">
    <h3>{{ title }}
      <select
      (change)="filterByPeriod($event.target.value)"
       [(ngModel)]="selectedOption">
        <option *ngFor="let o of options">
           {{o.name}}
        </option>
     </select>
    </h3>
   
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="course" scope="col">Course</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="classroom" scope="col">Classroom</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="price" scope="col">Price</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="date" scope="col">Date</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="time" scope="col">Time</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="teacher" scope="col">Teacher</th>
          <th [appSort]="adminExamRegistrys" data-order="desc" data-name="examPartType" scope="col">Exam Type</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let adminExamRegistry of adminExamRegistrys; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ adminExamRegistry.course }}
          </td>
          <td>{{ adminExamRegistry.classroom }}</td>
          <td>
            {{ adminExamRegistry.price }}
          </td>
          <td>{{ adminExamRegistry.date }}</td>
          
          <td>
            {{ adminExamRegistry.time }}
          </td>
          <td>
            {{ adminExamRegistry.teacher }}
          </td>
          <td>
            {{ adminExamRegistry.examPartType }}
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="showeditExams(adminExamRegistry)" >Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div id="editExams" div class="bg-light p-4 rounded">
      <h2>Edit Exam Part</h2>
      <form  (ngSubmit)="editExams()">
        <div class="row mb-3">
          <label for="inputFirstName" class="col-sm-2 col-form-label">Classroom</label>
          <div class="col-sm-10">
            <input [(ngModel)]="selectedAdminExamRegistry.classroom" type="text" id="inputclassroomEdit" class="form-control" placeholder="Enter the classroom" name="classroom" >
          </div>
        
        </div>
        <div class="row mb-3">
          <label for="inputlastName" class="col-sm-2 col-form-label">Date and Time</label>
          <div class="col-sm-10">
            <input [(ngModel)]="selectedAdminExamRegistry.examDateTime" type="text" id="inputexamDateTimeEdit" class="form-control" placeholder="Enter the examDateTime" name="examDateTime" >
          </div>

        </div>
        <div class="row mb-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary " style="float: right;">Cancel</button>
          <button type="submit" class="btn btn-primary mr-2" style="float: right;" >Confirm</button>
        </div>
        
        
      </div>
      </form>
    </div>