<div class="w-25 m-auto">
    <h2>Edit student</h2>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Exam part1</th>
          <th scope="col">Exam part2</th>
          <th scope="col">Points</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Milica</td>
          <td>Pajic</td>
          <td>50</td>
          <td>50</td>
          <td>100</td>
          <td>10</td>
      
        </tr>
        <tr>
          <td>Aleksa</td>
          <td>Petrovic</td>
          <td>50</td>
          <td>50</td>
          <td>100</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Damir</td>
          <td>Tizmonar</td>
          <td>50</td>
          <td>50</td>
          <td>100</td>
          <td>10</td>       
        </tr>
        <tr>
            <td>Dusan</td>
            <td>Mrantinkovic</td>
            <td>50</td>
            <td>50</td>
            <td>100</td>
            <td>10</td>         
          </tr>
      </tbody>
      <td><button class="p-0 btn btn-success" style="float: right;">Cancel</button></td>
      <td><button class="p-0 btn btn-success" style="float: right;">Add</button></td>

    </table>
  </div>