<form class="w-25 m-auto">
    <h2>Login</h2>
    <div class="mb-3">
      <label for="inputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="inputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberCheck">
      <label class="form-check-label" for="rememberCheck">Remember me.</label>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Submit</button>
    <button routerLink="/register" type="submit" class="btn btn-secondary">Don't have an account?</button>
</form>