<div class="container">
  <div *ngIf="currentUser != false; else elseBlock">
    <div class="row">
      <div class="col-lg-12">
        <app-navbar *ngIf="roles.includes('ROLE_STUDENT')"></app-navbar>
        <app-admin-profile  *ngIf="roles.includes('ROLE_ADMIN')"></app-admin-profile>
        <app-professor-navbar  *ngIf="roles.includes('ROLE_TEACHER')"></app-professor-navbar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <div>
          <h2 class="bold text-white">UniService</h2>
          <br>
          <p class="text-white">“Education is the most powerful weapon which you can use to change the world” – Nelson Mandela</p>
        </div>
      </div>
      <div class="col-lg-6  col-xl-6">
        <div style="background-color: white">
          <app-login-form class="mt-auto"></app-login-form>
        </div>
      </div>
    </div>
  </ng-template>
</div>