
<form class="w-25 m-auto">
    <h2>Register</h2>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>  
    <div class="mb-3">
        <label for="inputConfirmPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Submit</button>
    <button routerLink="/login" type="submit" class="btn btn-secondary ml-2">I already have an account</button>
  </form>