<div id="editStudent">
  <h3>Edit student</h3>
  <form>
    <div class="row mb-3">
      <label for="inputFirstName" class="col-sm-2 col-form-label">FirstName</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="student.firstName" id="inputFirstName" name="firstName" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputLastName3" class="col-sm-2 col-form-label">LastName</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="student.lastName" name="lastname" id="inputLastName3" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputCardNumber" class="col-sm-2 col-form-label">Card number</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="student.cardNumber" name="cardnumber" id="inputCardNumber" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputBalance" class="col-sm-2 col-form-label">Balance</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="student.balance" name="balance" id="inputBalance" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputCardNumber" class="col-sm-2 col-form-label">Account number</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="student.accountNumber" name="accountnumber" id="inputCardNumber"
          class="form-control">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="float: right;" (click)="goBack()">Cancel</button>
    </div>
    <div class="col-11">
      <button type="submit" class="btn btn-primary" style="float: right;" (click)="editStudent()">Confirm</button>
    </div>
  </form>
</div>