<div class="w-50 ml-auto">
    <h2>Exam</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            id:
          </td>
          <td>
                {{exam.id}}
          </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                {{exam.name}}
            </td>
          </tr>
          <tr>
            <td>
                Date of Registration:
            </td>
            <td>
                {{exam.dateOfregistration}}
            </td>
          </tr>
          <tr>
            <td>
                Points:
            </td>
            <td>
                {{exam.points}} 
            </td>
          </tr>
          <tr>
            <td>
                Grade:
            </td>
            <td>
                {{exam.grade}}
            </td>
          </tr>
      </tbody>
    </table>
  </div>