<div class="w-25 m-auto">
    <h2>Professor profile</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            First Name:
          </td>
          <td>
                {{professor.firstName}}
          </td>
        </tr>
        <tr>
            <td>
                Last name:
            </td>
            <td>
                {{professor.lastName}}
            </td>
          </tr>
          <tr>
            <td>
                User name:
            </td>
            <td>
                {{professor.userName}}
            </td>
          </tr>
      </tbody>
    </table>
  </div>