<div div class="bg-light p-4 rounded">
    <h2>Profile</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            First Name:
          </td>
          <td>
                <span *ngIf="professor != undefined">{{professor.firstName}}</span>
          </td>
        </tr>
        <tr>
            <td>
                Last name:
            </td>
            <td>
              <span *ngIf="professor != undefined">{{professor.lastName}}</span>
            </td>
          </tr>
      </tbody>
    </table>
  </div>